# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/

# Go workspace file
go.work

# Environment variables
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

runapp.bat
